$header-background: white;
$text-color: #404040;
$link-color: #0028ed;
$btn-color: #484848;
$btn-disabled-color: #A4A4A4;
$login-color: #eee;
$login-border: #d0d0d0;
$input-valid: black;
$input-invalid: red;